html, body {
    height: 100%;
    margin: 0;
    background-image:url('flowers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans'
}

#content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 20px;
}

#coming {
    font-size: 50px;
}

#small {
    font-size: 28px;
}

#smaller {
    font-size: 20px;
}

#updated {
    font-size: 0.9em;
    font-weight: bold;
    float: right;
    padding: 10px;
}